contourpy==1.1.1
cycler==0.12.1
fonttools==4.47.2
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.4
networkx==3.1
numpy==1.24.4
opencv-python==4.9.0.80
packaging==23.2
pandas==2.0.3
pillow==10.2.0
pycocotools==2.0.7
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
seaborn==0.13.1
six==1.16.0
tzdata==2023.4
zipp==3.17.0
